header {
    background-color:#0081c6;
    height: 90px;
    .image-one {
        padding: 12px 0;
    }
    .text-right{
        padding: 0;
        .image-two {
            height: 90px;
        }
    }
}